{% extends 'apavelas/base.html' %}
{% block body %}
{% load static %}

<div class="container d-flex justify-content-center">
    <div class="row">
        <div class="col-lg-4 col-sm-12">
            <div class="p-2 shadow rounded mb-2 mt-3 text-center">
                
                <img src="{{ profile.image.url }}" class="img-thumbnail rounded" alt="..." style="height: 400px;">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %} 
                   

                   {{ form.as_p }}
                 <input type="submit" value="Submit"> 
                 
                </form>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Usuario</span>
                    <input disabled type="text" value="{{ user.username }}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Nombre</span>
                    <input disabled type="text" value="{{ user.first_name }}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Apellido</span>
                    <input disabled type="text" value="{{ user.last_name }}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
                    <input disabled type="text" value="{{ user.email }}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Telefono</span>
                    <input disabled type="text" value="{{ profile.telefone }}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Deporte</span>
                    <input disabled type="text" value="{{ profile.sport }}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Status</span>
                    <input disabled type="text" value="{% if profile.active %} Activo {% else %} Inactivo {% endif %}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-secondary">Edit</button>
                </div>

            
            </div>    
            

        </div>
        <div class="col-lg-4 col-sm-12 d-flex justify-content-center">
            <div class="p-2 shadow rounded mb-2 mt-3 ml-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        Membresia APAVELAS
                    </div>
                    <img src="{{ profile.faceImage.url }}" class="card-img-top mw-150 mh-150" alt="...">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %} 
                        
                        
                            {{ face_form.as_p }}
                            <input type="submit" value="Submit"> 
                            
                                  
                    </form>
                    <div class="card-body">
                    <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
                    <p class="card-text">Esta tarjeta representa una membresia en la Asociacion Panameña de Velas</p>
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item">Miembro desde: {{ profile.memberSince }}</li>
                    <li class="list-group-item">Vence: {{ profile.validTo }}</li>
                    {% if profile.active %}
                    <li class="list-group-item">Status: Activo</li>
                    {%else %} 
                    <li class="list-group-item">Status: No Activo</li>
                    {%endif%} 
                    </ul>
                    <div class="card-body">
                    <a href="{% url 'card' %}" class="card-link" target="blank">Ver Tarjeta</a>
                    <a href="#" class="card-link">Descargar</a>
                    </div>
                    <div class="card-footer d-flex justify-content-center">
                        <img src="/pictures/qrcodes/{{ profile.id }}.jpg" style="width:150px;height:150px;" alt="...">
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-4 col-sm-12 d-flex justify-content-center p-2 shadow rounded mb-2 mt-3 ml-3">
            <div class="card">
                <div class="card-header">
                    <h3>Pagos</h3>
                </div>
                <table class="table table-striped table-bordered">
                    <thead>
                        <th>Fecha</th>
                        <th>Descripcion</th>
                        <th>Monto</th>
                    </thead>
                    <tbody>
                        {% for transaction in transactions %}
                            <tr>
                                <td>{{transaction.fecha}}</td>
                                <td>{{transaction.descripcion}}</td>
                                <td>{{transaction.amount}}</td>
                            </tr>
                        {% endfor %} 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

  
{% endblock %}