{% extends 'apavelas/base.html' %}
{% block body %}
{% load static %}


<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <h1>Bienvenidos a la <span>Asociacion Panameña de Kitesurf</span></h1>
      <h2>Mejorando el deporte de vela acuatico en Panama</h2>
      <div class="d-flex">
        <a href="{% url 'index' %}#about" class="btn-get-started ">Mas Info</a>
        <a href="https://www.youtube.com/" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Ver Video</span></a>
      </div>
    </div>
  </section><!-- End Hero -->


  <main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><img src="{% static 'apavelas/assets/img/icons/sail.jpg' %}" width="50" height="50" alt=""></i></div>
              <h4 class="title"><a href="">Vela</a></h4>
              <p class="description">La vela es un deporte náutico que consiste en controlar la dinámica de un 
                barco propulsado solamente por el viento en sus velas. La navegación a vela, como deporte, puede 
                ser de recreo o de competición. Las competiciones de vela se llaman regatas, y las embarcaciones veleros.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><img src="{% static 'apavelas/assets/img/icons/kite.jpg' %}" width="50" height="50" alt=""></i></div>
              <h4 class="title"><a href="">Kite</a></h4>
              <p class="description">El kitesurf (Kite o kiteboarding) es una actividad que nació como un 
                deporte alternativo con el inicio del nuevo milenio y está creciendo rápidamente</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><img src="{% static 'apavelas/assets/img/icons/foil.jpg' %}" width="50" height="50" alt=""></i></div>
              <h4 class="title"><a href="">Foil</a></h4>
              <p class="description">El foilboard tiene una quilla llamada hydrofoil que en su parte inferior 
                lleva unas aletas que evocan la forma de los peces. Su función es elevar la tabla cuando se coge 
                velocidad, permitiendo una menor fricción con la superficie -la tabla literalmente planea sobre el 
                agua- y una mayor maniobrabilidad de la tabla.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
              <div class="icon"><img src="{% static 'apavelas/assets/img/icons/wing.jpg' %}" width="50" height="50" alt=""></i></div>
              <h4 class="title"><a href="">Wing</a></h4>
              <p class="description">El Wing Foil es una nueva modalidad muy reciente, consiste en el manejo de
                 una ala ( Wing ) sin estar unida a la tabla y tampoco precisar de líneas. Simplemente la 
                 manejaremos con las manos, pudiendo estar unida a un cabo de arnés o leash.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Featured Services Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Acerca</h2>
          <h3>Aprende mas sobre <span>APK</span></h3>
          <p>La Asociacion Panameña de Kitesurf</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
            <img src="{% static 'apavelas/assets/img/about.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <h3>VISIÓN Y MISIÓN</h3>
            <p class="fst-italic">
              Como nuestro deporte, evolucionamos con el tiempo. Cada ves buscando la mejoria de la experiencia.
            </p>
            <ul>
              <li>
                <i class="bx bx-award"></i>
                <div>
                  <h5>Nuestra Visión</h5>
                  <p>Ser un ente reconocido por sus buenas prácticas en cuanto a organización deportiva basado en el trabajo en equipo teniendo como eje central el ATLETA, facilitando las herramientas necesarias para tener resultados en el campo deportivo, entregando a Panamá personas de altos valores y medallas siendo el motor de un país ganador.</p>
                </div>
              </li>
              <li>
                <i class="bx bx-certification"></i>
                <div>
                  <h5>Nuestra Misión</h5>
                  <p>Fomentar, promover y proteger la práctica del deporte de Navegación a Vela sin discriminación de ningún tipo, velando por el juego limpio dentro y fuera de la competencia, creando en cada miembro de la Asociación de Vela un ser humano de calidad, estimulando de forma permanente el crecimiento deportivo a través de la formación de personal Técnico y Administrativo por medio de cursos y programas</p>
                </div>
              </li>
            </ul>
            <p>
              La vela es un deporte náutico que consiste en controlar la dinámica de un barco o persona propulsado 
              solamente por el viento en sus velas. La navegación a vela, como deporte, puede ser de recreo o de 
              competición. Las competiciones de vela se llaman regatas, y las embarcaciones veleros.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->
    <section id="clients" class="clients section-bg">
      <div class="container">

      </div>
      
    </section>
    <!-- ====== Galery Section ======== -->

    <section id="gallery" class="section-bg">

      <div class="container" data-aos="zoom-in">
        <div class="section-title">
          <h2>Galeria</h2>
        </div>
        <div loading="lazy" data-mc-src="eeaf7ee2-9b2d-49e4-b41a-290dc98a7aba#instagram"></div>
              
      <script 
        src="https://cdn2.woxo.tech/a.js#63c9a90753f1c15c5a07bceb" 
        async data-usrc>
      </script>
      </div>

    </section>
   <!-- ======= Clients Section ======= -->
   <section id="clients" class="clients section-bg">
    <div class="container" data-aos="zoom-in">

      <div class="row">

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <a href="https://pandeportes.gob.pa" target="_blank" rel="noopener noreferrer">
          <img src="{% static 'apavelas/assets/img/related/pandeportes.png' %}" class="img-fluid" alt=""></a>
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <a href="https://www.kiteclasses.org" target="_blank" rel="noopener noreferrer">
          <img src="{% static 'apavelas/assets/img/related/Ikalogo1.jpg' %}" class="img-fluid" alt=""></a>
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <a href="https://www.sailing.org/" target="_blank" rel="noopener noreferrer">
          <img src="{% static 'apavelas/assets/img/related/world-sailing.svg' %}" class="img-fluid" alt=""></a>
        </div>
        
        

      </div>

    </div>
  </section><!-- End Clients Section -->

  <!-- ======= Team Section ======= -->
  <section id="team" class="team section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Junta Directiva</h2>
        <h3>Nuestro <span>Equipo</span></h3>
        <p>Nuestra organizacion sin animo de lucro esta dirigida por un equipo completamente voluntario.</p>
      </div>

      <div class="row">

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="member">
            <div class="member-img">
              <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Gaby Menache</h4>
              <span>Presidente</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="member">
            <div class="member-img">
              <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Sion Gadelof</h4>
              <span>Directivo</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="member">
            <div class="member-img">
              <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Jacky Lalo</h4>
              <span>Directivo</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
          <div class="member">
            <div class="member-img">
              <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Moises Corkidi</h4>
              <span>Tesorero</span>
            </div>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="member">
            <div class="member-img">
              <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Daniel de la Guardia</h4>
              <span>Directivo</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="member">
            <div class="member-img">
              <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Frank Azcarraga</h4>
              <span>Directivo</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="member">
            <div class="member-img">
              <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Juancho Hincapie</h4>
              <span>Directivo</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
          <div class="member">
            <div class="member-img">
              <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Pancho Canavagio</h4>
              <span>Directivo</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
          <div class="member">
            <div class="member-img">
              <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Raymond Mizrachi</h4>
              <span>Directivo</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
          <div class="member">
            <div class="member-img">
              <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Mario Celedon</h4>
              <span>Secretario</span>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Team Section -->

  </main>
  

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


 

{% endblock %}

