{% extends 'apavelas/base.html' %}
{% block body %}
{% load static %}
<div class="container ">
    
    <div class="row-fluid mb-2 mt-2">
        <div class="col-12">
        <div class="shadow rounded p-2">
            <h2>Categoria - {{category}}</h2>
            <div class="d-flex justify-content-end">
                <h6>Paso 2/3</h6>  
                </div>
        </div>
        </div>
    </div>
    <div class="shadow rounded p-2">
        <form method="post" enctype='multipart/form-data'>
            {% csrf_token%} 
            <h4>Detalles</h4>
            <input type="hidden" name="category" value="{{category}}">
            <div class="row">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Titulo</span>
                    <input required type="text" name="titulo" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Marca</span>
                    <input type="text" name="marca" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                </div>
                <div class="col-lg-3">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Modelo</span>
                    <input type="text" name="modelo" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                </div>
                <div class="col-lg-3">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Año</span>
                        <input type="number" name="year" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Numero de Serie</span>
                        <input type="text" name="modelo" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group mb-3" >
                        <select class="form-select" id="inputGroupSelect03" name="condicion">
                        <option selected>Selecciona...</option>
                        <option value="U">USADO</option>
                        <option value="N">NUEVO</option>
                        
                        </select>
                        <label class="input-group-text" for="inputGroupSelect03">Condicion</label>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Precio $</span>
                        <input required type="number" min="1" step="any"  name="precio" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Descripcion</span>
                    <textarea type="textarea" rows="3" name="descripcion" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"></textarea>
                </div>
            </div>

    </div>

            
</div>


    <div class="container d-flex justify-content-center mt-3">
        <div class="shadow rounded p-2 ">
            <h4>Contacto</h4>
            <div class="row">
            
                <div class="col-lg-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Nombre</span>
                        <input required type="text" name="nombre" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Telefono</span>
                        <input required type="tel" name="telefono" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Correo</span>
                        <input required type="email" name="correo" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Instrucciones de entrega:</span>
                    <textarea type="textarea" rows="3" name="entrega" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"></textarea>
                </div>
                </div>
                <div class="col-lg-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Costo Envio $</span>
                        <input  type="number" min="0" step="any"  name="costo_evio" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
    <div class="row ">
        <div class="d-flex justify-content-around p-4">
            <a href="{% url 'category_pick' %}" class="btn btn-secondary">Regresar</a>
        
            <button type="submit" name="next" class="btn btn-primary">Agregar Imagenes</button>
     
        </div> 
    </div>
    </div>
</form>
</div>


            
</div>


{% endblock %} 