{% extends 'apavelas/base.html' %}
{% block body %}
{% load static %}
<form  method="post" enctype='multipart/form-data'>
    {% csrf_token %}
<div class="container ">
    
    <div class="row-fluid mb-2 mt-2">
        <div class="col-12">
        <div class="shadow rounded p-2">
            <h2>Categoria</h2>
            <div class="input-group mb-3" >
                <select class="form-select needs-validation" id="inputGroupSelect03" name="new_category" required>
                <option  disabled>Selecciona...</option>
                {% for category in categories  %}
                {% if product.categoria.name == category.name %}
                <option selected value="{{category.name}}">{{category.name}}</option>
                {% else %} 
                <option value="{{category.name}}">{{category.name}}</option>
                {% endif %} 
                {% endfor %} 
                
                
                </select>
                <label class="input-group-text" for="inputGroupSelect03">Categoria</label>
            </div>
        </div>
        </div>
    </div>
    <div class="shadow rounded p-2">
        
            <h4>Detalles</h4>
            
            <div class="row">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Titulo</span>
                    <input required type="text" name="titulo" value="{{product.titulo}}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Marca</span>
                    <input type="text" name="marca" value="{{product.marca}}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                </div>
                <div class="col-lg-3">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Modelo</span>
                    <input type="text" name="modelo" value="{{product.modelo}}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                </div>
                <div class="col-lg-3">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Año</span>
                        <input type="number" name="year" value="{{product.year}}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Numero de Serie</span>
                        <input type="text" name="numero_serie" value="{{product.numero_serie}}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group mb-3" >
                        <select class="form-select" id="inputGroupSelect03" name="condicion">
                        <option disabled >Selecciona...</option>
                        {% if product.condicion == "U" %} 
                        <option selected value="U">USADO</option>
                        <option value="N">NUEVO</option>
                        {% else %} 
                        <option value="U">USADO</option>
                        <option selected value="N">NUEVO</option>
                        {% endif %} 

                        
                        </select>
                        <label class="input-group-text" for="inputGroupSelect03">Condicion</label>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Precio $</span>
                        <input required type="number" value="{{product.precio}}" min="1" step="any"  name="precio" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Descripcion</span>
                    <textarea type="textarea" rows="3" name="descripcion" value="{{product.descripcion}}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">{{product.descripcion}}</textarea>
                </div>
            </div>

    </div>  

            <div class="shadow rounded p-2 ">
                <h4>Contacto</h4>
                <div class="row">
                
                    <div class="col-lg-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-default">Nombre</span>
                            <input required type="text" value="{{product.nombre}}" name="nombre" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-default">Telefono</span>
                            <input required type="tel" name="telefono" value="{{product.telefono}}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-default">Correo</span>
                            <input required type="email" name="correo" value="{{product.correo}}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Instrucciones de entrega:</span>
                        <textarea type="textarea" rows="3" name="entrega" value="{{product.entrega}}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">{{product.entrega}}</textarea>
                    </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-default">Costo Envio $</span>
                            <input  type="number" min="0" step="any"  name="costo_evio" value="{{product.costo_envio}}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>
                </div>
            </div>
            
        <div class="shadow rounded p-2 ">
            <div class="row">
            <div class="col-lg-6"><h4>Editar Imagenes</h4></div>
            <div class="col-lg-6">Agrega nuevas imagenes: <input type="file" name="new_images" multiple="true" accept="image/*"></div>
            </div>
            <div class="row row-cols-4">
                {% for image in images %} 
                <div class="card" style="width: 18rem;">
                    <img src="{{image}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        
                        
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-danger" name="delete_image" value="{{image}}" onclick="if (confirm('Confirma eliminar imagen.')) return true; else return false;" >Eliminar</button>
                    </div>
                </div>
                {% endfor %} 
    
            </div>
        </div>
        <div class="row-fluid">
            <div class="col-12">
                <div class="d-flex justify-content-around m-3">
                    <button class="btn btn-secondary" onClick="javascript:history.go(-1);">Regresar</button>
                    <button class="btn btn-primary" name="update" type="submit">Guardar</button>
                </div>
            </div>
        </div>

        
    </div>

    



</form>




{% endblock %} 
