{% extends 'apavelas/base.html' %}
{% block body %}
{% load static %}

<div class="container d-flex justify-content-center">

       
        <div class="col-lg-10 col-sm-12">
            <div class="shadow rounded mt-2 p-1">
                <table class="table table-bordered table-striped ">
                    <thead>
                        <tr>
                            <th>Foto</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Correo</th>
                            {% if request.user.is_staff %}
                            <th>Status</th>
                            {%endif%}
                
                        </tr>
                    </thead>
                    <tbody>
                    {% for member in members %} 
                        <tr>
                            <td><img src="{{ member.image.url }}" class="img-thumbnail rounded" alt="..." style="height: 75px;"></td>
                            <td>{{member.user.first_name}}</td>
                            <td>{{member.user.last_name}}</td>
                            <td>{{member.user.email}}</td>
                            {% if request.user.is_staff %}
                            <td>
                                {% if member.active %}
                                    ACTIVO<img src="{% static '/apavelas/active.jpg' %}" width="25" height="25" alt="">
                                {% else %} 
                                    NO ACTIVO<img src="{% static '/apavelas/inactive.jpg' %}" width="25" height="25" alt="">
                                {% endif %}
                            {% endif %} 
                            </td>
                        </tr>

                    
                    
                    {% endfor %} 
                    </tbody>
                </table>
            </div>
        </div>

</div>



{% endblock %}