{% extends 'apavelas/base.html' %}
{% block body %}
{% load static %}

<div class="container shadow mt-3">
    <h1>Reglamento de Kitesurf</h1>
    <p>La <a href="https://www.ikointl.com/es"><strong><em>IKO</em></strong> (International Kiteboarding Organization)</a> indica las siguientes reglas de paso:</p>

<ul>
<li><strong>Regla número 1</strong>: El kiter que <strong>ingresa en el agua desde la playa, tiene preferencia</strong> sobre el que está dentro dentro del agua.</li>
</ul>
<p>&nbsp;</p>
<ul>
<li><strong>Regla número 2</strong>: Siempre que lleves <strong>la mano derecha delante</strong> tienes preferencia, por lo cual, el que lleva la mano izquierda delante tiene apartar su cometa.</li>
</ul>
<p>&nbsp;</p>
<ul>
<li><strong>Regla número 3</strong>: Cuando dos riders están navegando en la misma dirección, si el que va atrás va más rápido que el que le precede. <strong>El que va detrás, tiene que cambiar el sentido</strong> de la navegación. De este modo se evitan colisiones.</li>
</ul>
<p>&nbsp;</p>
<ul>
<li><strong>Regla número 4</strong>: Tienes <strong>prioridad de paso cuando estés surfeando la ola</strong>, frente a otro kiter que esté saltando o navegando en sentido contrario.</li>
</ul>
<p>&nbsp;</p>
<ul>
<li><strong>Regla número 5</strong>: Daremos siempre derecho de paso a usuarios en la playa y en el mar. Los kiters deben navegar viento abajo de posibles obstaculos o bañistas.</li>
</ul>
<p>&nbsp;</p>
<ul>
<li><strong>Regla número 6</strong>: A la hora de saltar el rider debe de tener en cuenta un espacio seguro de aproximadamente 50 metros viento abajo, y aproximadamente 30 metros viento arriba.</li>
</ul>

<p>Estas <strong>normas de paso en kitesurf son <em>standard</em> en todo el mundo</strong> y serán de mucha ayuda para evitar colisiones y posibles accidentes indeseados.</p>
<hr>
    
    
</div>
{% endblock %}